* {box-sizing: border-box;}
ul {list-style-type: none;}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.month {
  padding: 0px 15px 10px 15px;
  width: 100%;
  text-align: center;
}

.msg-container {
  position: sticky;
}

.prev, .next {
    color: white;
}

div.sberform-sel select, div.sberform-sel input, div.sberform-sel textarea {
    border: none;
}

.prev:hover, .next:hover {
    text-decoration: none;
    color: #ddd;
}
.month-success {background: #53c68c;}

.month-fail {background: #e62e00;}

.month ul {
  margin: 0;
  padding: 0 0 2em 0;
}

.month ul li, .plusmonth, .minusmonth {
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.plusmonth p, .minusmonth p {
  padding-bottom: 0.5px;
  margin-bottom: 0.5px;
}

.month ul li {
  font-size: 20px;
}

.day-container {cursor:pointer;}

.day-disabled {background: #ddd;}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 14px;
  color: #777;
}

.days li:hover {
  background-color: #ddd;
  opacity: 0.9;
}

.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}

.plus, .minus {
  font-size: 12px;
}

.plus {
  color: green;
  margin-bottom: 0;
}

.minus {
  color: red;
}

.sums {
  background-color: #ddd;
}

#addOpr {
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

#addOpr, #btnSubmt {
  background-color: #006eac !important;
}

.cal-panel {
  background-color: #ccebff;
}

.incomes-plan {
  background-color: #1aff8c;
}

.costs-plan {
  background-color: #ff4d4d;
}

#fromPrevMonth {
  display: none;
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
  .plus, .minus {font-size: 10px;}
  #addOpr, #addSber {width: 100%;}
  .transact-table {font-size: 0.75em;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
  #addOpr, #addSber {width: 100%;}
  .transact-table {font-size: 0.75em;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
  #addOpr, #addSber {width: 100%;}
  .transact-table {font-size: 0.75em;}
  #planningModal button{display: block; width: 100%;}
}