<div class="modal fade" id="dailyTrnModal" tabindex="-1" role="dialog" aria-labelledby="dailyTrnModalHeader" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="dailyTrnModalHeader">Транзакции на <span id="trnDate"></span></h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" >
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<table id="trnTable" class="table table-hover table-sm">
					<!-- AJAX request -->
				</table>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary rounded-pill shadow pr-3 pl-3" type="button" id="btnAddFromTrnModal">Добавить транзакцию</button>
			</div>
		</div>
	</div>
</div>